html { height: 100%; }

#footpanel {
    position: fixed;
    bottom: 0; left: 0;
    z-index: 9999; /*--Keeps the panel on top of all other elements--*/
    background: #333232;
    border: 1px solid #c3c3c3;
    border-bottom: none;
    width: 94%;
    margin: 0 3%;
}

.yui3-overlay {
    background: #333232;
    border: 3px solid #c3c3c3;
    color: #eee;
    width: 450px;
    height: 100px;
}

*html #footpanel { /*--IE6 Hack - Fixed Positioning to the Bottom--*/
    margin-top: -1px; /*--prevents IE6 from having an infinity scroll bar - due to 1px border on #footpanel--*/
    position: absolute;
    top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}

#footpanel ul {
    margin: 0;
    float: left;
    width: 100%;
    list-style: none;
    padding-top: 2px 0 0;
    font-size: 1.1em;
}
#footpanel ul li{
    padding: 0; margin: 0;
    float: left;
    list-style: none;
    position: relative;
}

a.profile{  background: url(icons/icons/user.png) no-repeat center center;  }
a.contacts{ background: url(icons/icons/address_book.png) no-repeat center center; }
a.playlist{ background: url(icons/icons/document_music_playlist.png) no-repeat center center; }
a.videos{   background: url(icons/icons/film.png) no-repeat center center; }
a.messages{ background: url(icons/icons/mail.png) no-repeat center center; }

#footpanel a.chat{
    background: url(icons/icons/balloon.png) no-repeat 15px center;
    width: 126px;
    padding-left: 40px;
    text-indent: 0; /*--Reset text indent--*/
}
#footpanel li#friendpanel, #footpanel li#followpanel { float: right; }  /*--Right align the chat and alert panels--*/

#footpanel a:link, #footpanel a:visited {
    text-decoration: none;
}

#friendTable {
    z-index: 999;
    border: 2px solid white;
    background: #333232;
    color: white;
    position: absolute;
    /*
    left: 200px;
    top: 200px;
    */
    width: 500px;
    height: 400px;
}
